.container{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /* overflow: hidden; */
}

ul {
  list-style: none;
  margin: 0 0 0 0;
}

.menu > li {
  display: inline-block;
  padding: 20px 20px;
  position: relative;
  /* padding: 20px 0; */
}

.menu a{
  color: white;
  text-decoration: none;
  display: block;
}

#header {
  background-color: black;
  padding:  0;
  border-bottom: 10px solid blue;
}

.drop {
  width: 170px;
  position: absolute;
  left: 0px;
  top: 100%;
  background-color: blue;
  padding: 10px;
  display: none;
}

.drop .drop {
  top: 0;
  left: 100%;
}

.menu li:hover>.drop {
  display: block;
 
}

.menu li:hover {
  background-color: blue;
}

/* .drop>li :hover {
  background-color: azure;
} */

.drop li {
  padding: 10px;
 
}

.drop>li {
  position: relative;
}
 
.plus1::after {
  content:'+';
  margin-left: 79px;
}

.plus {
  margin-left: 10px;
}
